main() {
  INTERFACE=`netstat -nr | awk '{ if ($1 ~/default/) { print $6} }'`
  export LOCAL_IP=`ipconfig getifaddr $INTERFACE`
  export VAULT_ADDR="http://${LOCAL_IP}:8200"

  export PROJECT_DIR="$PWD"

  bindir=$PWD/.direnv/bin
  mkdir -p "$bindir"

  PATH_add "$bindir"
  PATH_add script

  use hashicorp consul 1.4.4 &
  use hashicorp vault 1.1.1 &
}

use_hashicorp() {
  local tool="$1"
  local version="$2"
  local installpath="$PWD/.direnv/${tool}-${version}"
  if [ ! -d "$installpath" ]; then
    curl --silent --create-dirs --location -o "$installpath"/bin.zip https://releases.hashicorp.com/"$tool"/"$version"/"${tool}"_"${version}"_darwin_amd64.zip
    unzip -d "$installpath" "$installpath"/bin.zip
    rm "$installpath"/bin.zip
  fi
  ln -sf "$installpath"/"$tool" "$bindir"/"$tool"
}

main
