main() {
  export PROJECT_DIR="$PWD"

  bindir=$PWD/.direnv/bin
  mkdir -p "$bindir"

  PATH_add "$bindir"
  PATH_add script

  use hashicorp consul 1.1.0 &
  use hashicorp vault 0.10.1 &
}

use_hashicorp() {
  local tool="$1"
  local version="$2"
  local installpath="$PWD/.direnv/${tool}-${version}"
  if [ ! -d "$installpath" ]; then
    curl --silent --create-dirs --location -o "$installpath"/bin.zip https://releases.hashicorp.com/"$tool"/"$version"/"${tool}"_"${version}"_darwin_amd64.zip
    unzip -d "$installpath" "$installpath"/bin.zip
    rm "$installpath"/bin.zip
  fi
  ln -sf "$installpath"/"$tool" "$bindir"/"$tool"
}

main
