consul:
  container_name: consul
  command: agent -server -bind 0.0.0.0 -client 0.0.0.0 -bootstrap-expect=1
  image: consul:latest
  volumes:
    - ./etc/consul/config:/consul/config
  ports:
    - "8300:8300"
    - "8500:8500"
    - "8600:8600/udp"
vault:
  container_name: vault.server
  image: vault
  ports:
    - "8200:8200"
  volumes:
    - ./etc/vault/config:/mnt/vault/config
    - ./etc/vault/data:/mnt/vault/data
    - ./etc/vault/logs:/mnt/vault/logs
  cap_add:
    - IPC_LOCK
  environment:
    - VAULT_LOCAL_CONFIG={"backend":{"consul":{"address":"${LOCAL_IP}:8500","advertise_addr":"http://${LOCAL_IP}", "path":"vault/"}},"listener":{"tcp":{"address":"0.0.0.0:8200","tls_disable":1}}}
  command: server
